@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* General Settings */

:root {
   --font-main: 'Poppins', sans-serif;

   --color-header: #e63946;
   --color-header-menu-trigger: #d13340;
   --color-header-menu-trigger-hover: #ab2833;
   --color-main: #1d3557;
   --color-buttons: #f1faee;
   --color-buttons-hover: #c6cbc5;
   --color-repository-box: #457b9d;
   --light-grey: #f1faee;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style-type: none;
   text-decoration: none;
   font-weight: normal;
   font-family: var(--font-main);
   color: #000;
}

/* Header */

#header-top {
   background-color: var(--color-header);
   box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

#header-top .menu-nav-header {
   position: relative;
}

#header-top .menu-nav-header,
#container .repositories {
   max-width: 1200px;
   margin: 0 auto;
   padding: 1em;
}

#header-top .menu-nav-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#header-top .menu-nav-header h1,
#header-top .menu-nav-header a,
#header-top .menu-nav-header i {
   color: var(--light-grey);
   transition: all .2s;
}

.menu-nav-header .github-link-header {
   font-size: 1.5em;
   display: flex;
   align-items: center;
   gap: .5em;   
}

#header-top .menu-nav-header .github-link-header:hover,
#header-top .menu-nav-header .github-link-header:hover i {
   color: var(--color-buttons-hover);
}

.menu-nav-header .github-link-header i {
   font-size: 1.5em;
}

.menu-nav-header h1 {
   font-size: 2em;
   text-transform: uppercase;
   font-weight: 600;
}

.menu-nav-header .menu-trigger i {
   font-size: 2em;
   cursor: pointer;
}

/* Menu Trigger */

.menu-nav-header ul {
   z-index: 999;
   width: 200px;
   top: 87px;
   right: 0px;
   position: absolute;
   display: flex;
   flex-direction: column;
   background-color: var(--color-header-menu-trigger);
   border-radius: 0 0 10px 10px;
   transform: rotateX(90deg);
   transform-origin: top;
   transition: ease-in-out .2s;
}

.menu-nav-header ul li a {
   display: block;
   padding: 1em;
   transition: all .2s;
}

.menu-nav-header ul li a:hover {
   background-color: var(--color-header-menu-trigger-hover);
}

.menu-nav-header ul li:last-child a {
   border-radius: 0 0 10px 10px;
}

.menu-nav-header ul li .github-link-header {
   display: none;
   font-size: 1em;
}

.menu-nav-header ul li .github-link-header i {
   display: none;
}

.menu-nav-header ul.open {
   transform: rotateX(0deg);
}

/* Main */

#container {
   background-color: var(--light-grey);
}

#container .repositories {
   background-color: var(--color-main);
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 2em 1.5em;
   padding: 5em 1em;
}

.repositories .repository-box {
   background-color: var(--color-repository-box);
   width: 350px;
   display: flex;
   flex-direction: column;
   gap: 1em;
   padding: .8em;
   border-radius: 10px;
}

.repository-box .project-preview {
   width: 100%;
   height: 200px;
   border-radius: 10px;
   background-repeat: no-repeat;
   background-position: center top;
   background-size: 130%;
   transition: all .6s;
   transition-delay: 105ms;
}

.repository-box .project-preview:hover {
   background-size: 150%;
   filter: brightness(80%);
}

.repository-box .buttons-interact {
   display: flex;
   flex-direction: column;
   gap: .5em;
   align-items: center;
}

.buttons-interact .button-view {
   background-color: var(--color-buttons);
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: .5em;
   border-radius: 7px;
   font-size: 1.1em;
   font-weight: 500;
   transition: all .2s;
}

.buttons-interact .button-view:hover {
   background-color: var(--color-buttons-hover);
}

#repository-box-1 .project-preview {
   background-image: url(../img/preview-lorem-advocacia-landing-page.png);
}

#repository-box-2 .project-preview {
   background-image: url(../img/preview-agencia23.png);
}

#repository-box-3 .project-preview {
   background-image: url(../img/preview-huddle-landing-page-1.png);
}

#repository-box-4 .project-preview {
   background-image: url(../img/preview-huddle-landing-page-2.png);
}

#repository-box-5 .project-preview {
   background-image: url(../img/preview-fylo-landing-page-1.png);
}

#repository-box-6 .project-preview {
   background-image: url(../img/preview-huddle-introdutory.png);
}

@media(max-width: 755px) {
   .menu-nav-header h1 {
      font-size: 1.7em;
   }

   .menu-nav-header .github-link-header {
      display: none;
   }

   .menu-nav-header ul {
      top: 80px;
   }

   .menu-nav-header ul li .github-link-header {
      display: block;
   }

   .repositories .repository-box {
      width: 80%;
   }

   .repository-box .project-preview {
      height: 300px;
   }
}

@media(max-width: 630px) {
   .menu-nav-header h1 {
      font-size: 1.5em;
   }

   .menu-nav-header ul {
      width: 100%;
      align-items: center;
   }
   
   .repositories .repository-box {
      width: 90%;
   }

   .repository-box .project-preview {
      height: 250px;
   }

   .buttons-interact .button-view {
      font-size: 1em;
   }
}

@media(max-width: 500px) {
   .menu-nav-header h1 {
      font-size: 1.3em;
   }

   .menu-nav-header .menu-trigger i {
      font-size: 1.8em;
   }

   .menu-nav-header ul {
      top: 75px;
   }

   #container .repositories {
      padding: 3em 1em;
   }

   .repositories .repository-box {
      width: 95%;
   }

   .repository-box .project-preview {
      height: 220px;
   }
   
   .buttons-interact .button-view {
      font-size: .9em;
   }
}

@media(max-width: 430px) {
   .repository-box .project-preview {
      height: 190px;
   }
}

@media(max-width: 350px) {
   .repository-box .project-preview {
      height: 160px;
   }
}
